<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% load static %}
    {% load cache %}

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
    {% load compress %}
    {% compress css %}
        <link type="text/x-scss" href="{% static 'theme.scss' %}" rel="stylesheet" media="screen">
    {% endcompress %}

    <script src="{% static 'js/jquery.js' %}"></script>
    {% block script %}{% endblock %}

    <style>{% block style %}{% endblock %}</style>
    <title>{% block title %}Title{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="https://george.ooo">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="https://git.george.ooo">GitHub</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://borg.george.ooo">Borg Status</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

{% block body %}{% endblock %}
</body>
</html>