{% extends "borg/base.html" %}
{% load cache %}
{% load static %}

{% block title %}Borg Summary{% endblock %}
{% block script %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"
            integrity="sha256-GMN9UIJeUeOsn/Uq4xDheGItEeSpI5Hcfp/63GclDZk=" crossorigin="anonymous"></script>
    {% include "borg/repo-template.html" %}
    {{ hour_list|json_script:"hour_list" }}
    <script src="{% static 'borg/js/chart.js' %}"></script>
    <script src="{% static 'borg/js/index.js' %}"></script>
{% endblock %}

{% block style %}
    {{ block.super }}
    .repo-container {
        padding: 8px;
        margin: 8px;
    }

    .att-label {
        margin-top: 4px;
        margin-bottom: 4px;
    }
{% endblock %}

{% block body %}
<div id="repo-container" class="grid mx-auto d-flex justify-content-center flex-wrap">
    <div style="width: 600px;" class="repo-container shadow rounded bg-info overflow-hidden">
        <canvas id="daily_backup_size" width="400" height="200"></canvas>
    </div>
    <div style="width: 600px;" class="repo-container shadow rounded bg-info overflow-hidden">
        <canvas id="monthly_backup_size" width="400" height="200"></canvas>
    </div>
{#    <div style="width: 600px;" class="repo-container shadow rounded bg-primary overflow-hidden">#}
{#        <div style="width: 600px;" class="repo-container bg-primary overflow-hidden">#}
{#        <h2 class="h2">No repositories found</h2>#}
{#    </div>#}
    </div>
</div>
{% endblock %}

