<script id="repo-template" type="text/x-custom-template">
    <div style="width: 600px;" class="repo-container shadow rounded overflow-hidden">
        <div class="row me-1 overflow-hidden text-truncate">
            <h2 class="repo-label h2">
                <small class="repo-location text-muted"></small>
            </h2>
        </div>
        <dl class="att-label row ps-3">
            <dt class="col-4">Latest backup:</dt>
            <dd class="repo-latest-backup col-8"></dd>
        </dl>
        <dl class="att-label row ps-3">
            <dt class="col-4">Size:</dt>
            <dd class="repo-size col-8"></dd>
        </dl>
        <dl class="att-label row ps-3">
            <dt class="col-4">Recent errors:</dt>
            <dd class="repo-recent-errors col-8"></dd>
        </dl>
        </dl>
    </div>
</script>