@import "./scss/functions";

// default variable overrides
$body-bg: #f0f8ff;

@import "./scss/variables";
@import "./scss/mixins";

// custom maps
$custom-colors: (
        "primary":    #a0c4ff,
        "info":       #ffc6ff,
        "success":    #caffbf,
        "secondary":  #bdb2ff,
        "warning":    #fdffb6,
        "danger":     #ffadad,
        "light":      #f8f9fa,
        "dark":       #212529
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "./scss/bootstrap";

// custom code