{% extends "borg/base.html" %}
{% load static %}

{% block title %}Not Found{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
html, body {
            height: 80%;
        }

        text-container {
            display: flex;
            align-items: center;
            background-color: aliceblue;
            text-align: center;
        }
{% endblock %}

{% block body %}

<div class="text-container mx-auto w-25 px-5">
    <div class="mx-5">
    <h1 class="h1">Page not found!</h1>
    </div>
</div>

{% endblock %}

