{% extends "borg/base.html" %}
{% load static %}

{% block title %}404: Not Found{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
html, body {
            height: 80%;
        }

        main {
            display: flex;
            align-items: center;
            background-color: aliceblue;
            text-align: center;
        }
{% endblock %}

{% block body %}

<main class="form-signin mx-auto w-25 px-5">
    <div class="mx-5">
    <h1 class="h1">404: Page Not Found</h1>
    </div>
</main>

{% endblock %}

